---
---

@charset "utf-8";



// Typeface
$base-font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;


// Text Size
$base-title-big: 28px;
$base-title-small: 24px;

$base-text: 14px;
$base-text-big: 18px;
$base-text-small: 11px;
$base-text-tiny: 9px;

// Font Weight
$base-text-font-weight: 400;
$base-title-font-weight: 700;

// Grid
$base-line-height: 1.5;
$grid-unit: 16px;

// Colors
$color-gray-1: #f1f2f2;
$color-gray-2: #e5e5e4;
$color-gray-3: #aaaaaa;
$color-gray-4: #727272;

$color-black-1: #2a3c43;
$color-black-2: #172328;

$color-white: #fff;

$color-good: #49b759;
$color-bad: #ee4024;



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "reset",
        "default-layout",
        "utils",
        "typography",
        "header",
        "package"
;
