// This file should contain all of the formatting necessary for the default layout


.default-layout {
  background-color: $color-gray-2;

  .page-content {
    padding-top: 5 * $grid-unit;

    .filler-text {
      color: $color-gray-3;
      font-size: $base-title-big;
      font-weight: $base-title-font-weight;
      text-align: center;
      margin-top: 15 * $grid-unit;
    }
  }
}
