header {
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  right:0; 

  a {
    color: white;
    display: inline-block;
    padding: 20px;
    text-decoration: none;
  }

  a:hover {
    background-color: darkslategrey;
  }

  nav {
    float: right;
  }

}
