
.package-container {
  padding-left: 0.25 * $grid-unit;
}

.package {
  background-color: white;
  width: 18 * $grid-unit;
  height: 10 * $grid-unit;
  display: inline-block;
  margin: $grid-unit / 2;
  padding: $grid-unit;
}
